body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #6FD8E2;
    text-shadow: 1 0 2 #000000;
    /* Background pic from https://www.freepik.com/ */
}

@media screen and (max-width: 1000px) {
    body {
        background-size: 14in;
        background-position: top;
    }
}

.container {
    text-align: center;
}

#waterLevelChart,
h1 {
    margin-top: 50px;
}

.btn,
.btn:hover {
    background-color: white !important;
    border-color: #6FD8E2;
    color: #6FD8E2;
    margin: 10px;
}

.btn-check:active,
.btn-check:checked+.btn-primary,
.btn-check:focus {
    color: #fff;
    background-color: #6FD8E2 !important;
    border-color: #6FD8E2 !important;
    box-shadow: none;
    font-weight: 800;
}